<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USER HOME</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body class="hollandaise">

  <h1>Welcome to Delicious Recipes!</h1>

  <input type="hidden" name="email" th:value="${email}">

  <ul>
    <li><a class="nav-link scrollto" href="/search">Search</a></li>
    <li><a class="nav-link scrollto" href="/favourites">Favourites</a></li>
  </ul>

  <table>
    <form th:action="@{/recipes}" th:object="${recipe}" method="post"></form>
    <tr th:each="recipe:${recipes}">
      <td>
        <h2 th:text="${recipe.meal}"></h2>
        <img th:src="${recipe.mealThumb}" alt="Recipe Image"></img>
        <h2 th:text="${recipe.id}"></h2>
      </td>
    </tr>
  </table>
</body>

</html>