<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESS</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body class="pancake"></body>
    <h1>
        Your username <code th:text="${username}"></code> has been registered successfully.
        Please proceed to the login page by clicking the button below.
        <a href="/">
            <button>Login</button>
        </a>
    </h1>
</body>
</html>